:root {
  --color-action-blue: #4f77ff;
  --color-action-pink: #ffc0ec;
  --color-action-green: #34c635;
  --color-action-purple: #886cff;
  --color-action-red: #ef3737;
  --color-action-orange: #ff9513;
  --color-action-yellow: #f9e492;
  --color-action-dark-blue: #001c7f;
  --color-action-turquoise: #61dcdf;

  --color-text-heading: #2d3958;
  --color-text-text: #7b88a8;
  --color-text-text-white: #fff;
  --color-text-text-grey: #e7e5ea;

  --color-background-dark: #12022f;
  --color-background-light: #f8fafc;
  --color-background-alt: #321370;
  --color-background-light-alt: #f7f5f1;
  --color-background-white: #fff;
  --color-background-grey: #292f3a;
}

img.products__web3 {
  position: absolute;

  &.products__web3--profile-card {
    width: 15rem;
    height: 10.625rem;
    top: 2rem;
    left: -4rem;
  }

  &.products__web3--design {
    width: 18.75rem;
    height: 25rem;
    top: 35%;
    right: -2.5rem;
    border-radius: 20px;
  }
}

img.products__product {
  position: absolute;

  &.products__product--chart-1 {
    width: 20rem;
    height: 12rem;
    top: 3rem;
    right: -4.5rem;
  }

  &.products__product--chart-2 {
    width: 25rem;
    height: 30rem;
    top: 35%;
    left: -8rem;
  }
}

img.products__design {
  position: absolute;

  &.products__design--gradient {
    width: 18.75rem;
    height: 25rem;
    top: 3rem;
    right: -2.5rem;
    border-radius: 20px;
  }

  &.products__design--chart-3 {
    width: 18rem;
    height: 18rem;
    top: 64%;
    left: -6rem;
  }
}

input[type="submit"] {
  color: var(--color-text-text-white);
  text-transform: uppercase;
}

/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
